
div.middle
{
    font-family: 'Playball', cursive;
    font-size: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    width: auto;
    text-align: center;
    color: #e6dedc;
}


h2
{
    font-family: 'Playball', cursive;
    font-size: 40px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    padding-top: 40px;
    width: auto;
    text-align: center;
    color: #e6dedc;
}

h3
{
    font-family: 'Playball', cursive;
    font-size: 32px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 5px;
    width: auto;
    text-align: center;
    color: #e6dedc;
}

h4
{
    font-family: 'Playball', cursive;
    font-size: 28px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 20px;
    width: auto;
    text-align: center;
    color: #e6dedc;
}

h5
{
    font-family: 'Playball', cursive;
    font-size: 24px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 20px;
    width: auto;
    text-align: center;
    color: #e6dedc; 
}

p.cards
{
    font-family: 'Playball', cursive;
    font-size: 23px;
    display: block;
    margin: 0 auto;
    width: auto;
    text-align: center;
    color: #e6dedc;

}

.button {
    font-family: 'Playball', cursive;
        background-color: transparent;
        border: 1px;
        border-radius: 3px;
        color: white;
        padding: 2px 5px;
        text-align: center;
        display: inline-block;
        font-size: 40px;
        margin: 5px 5px;
        transition-duration: .4s;
        cursor: pointer;
}


.buttonHit:hover {
        color: #CD5C5C;
        transition-duration: .4s;
}

.buttonStand:hover {
        color: #6495ED;
        transition-duration: .4s;
}

.buttonPlay:hover {
        color: #6495ED;
        transition-duration: .4s;
}
.buttonRules:hover {
        color: #CD5C5C;
        transition-duration: .4s;
}

body 
{
    background-image: url('pool_table.png');
    background-repeat: repeat;
}