@import "grid.css";

body {
    background-color: #424242;
}

header {
    color: #e28e7f;
    font-weight: bold;
    font-size:30px;
}

/* stying of the two main text headlines that fade in and out */
h1.style1 {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: -40px;
  font-family: 'Share Tech Mono', monospace;
  font-size: 36px;
  color: #e28e7f;
  text-align: center;
  animation: pulse1 ease 6s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

h1.style2 {
  font-family: 'Share Tech Mono', monospace;
  font-size: 36px;
  color: #778a53;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  text-align: center; 
  animation: pulse2 ease 6s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

p.default {
  width: auto;
  margin-left: auto;
  margin-right: auto;
  color: #e28e7f;
  font-family: 'Share Tech Mono', monospace;
  font-size: 15px;
} 

/* styling for links */

a:visited {
  border: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

a:hover {
  border: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

a.default {
  padding: 2px;
  text-decoration: none;
  font-family: 'Share Tech Mono', monospace;
  font-size: 15px;
  color: #8a8da9;
  transition-duration: 1.4s;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
}

a.default:hover {
  padding: 2px;
  text-decoration: none;
  font-family: 'Share Tech Mono', monospace;
  color: #e28e7f;
  font-size: 15px;
  transition-duration: .6s;
  border-left: 1px solid #e28e7f;
  border-right: 1px solid #e28e7f;
}

/* the animated bar under the main title words */
#tracer {
	background-color: #e28e7f;
	height: 2px;
	padding: 0;
	margin: 0;
	margin-top: -40px;
	width: 100%;
	animation: stretch ease 6s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

@keyframes stretch{
  0% {
  	background: #e28e7f;
    transform: scaleX(0);
  }
  5% {
  	background: #e28e7f;
    transform: scaleX(0);
  }
  50% {
  	background: #778a53;
    transform: scaleX(1);
  }
  98% {
  	background: #e28e7f;
    transform: scaleX(0);
  }
  100% {
  	background: #e28e7f;
    transform: scaleX(0);
  }
}

@keyframes pulse2{
  0% {
  	opacity: 0;
  }
  5% {
  	opacity: 0;
  }
  50% {
  	opacity: 1;
  }
  98% {
  	opacity: 0;
  }
  100% {
  	opacity: 0;
  }
}

@keyframes pulse1{
  0% {
  	opacity: 1;
  }
  5% {
  	opacity: 1;
  }
  50% {
  	opacity: 0;
  }
  98% {
  	opacity: 1;
  }
  100% {
  	opacity: 1;
  }
}


#about-me {
  opacity: 1;
  transition-duration: .7s;
  font-size: 15px;
  color: #f6dedc;
  margin-top: 5px;
}
#description {
	opacity: 0;
	transition-duration: .7s;
	font-family: 'Share Tech Mono', monospace;
	font-size: 15px;
	color: #f6dedc;
	margin-top: 30px;
  }


#main-text {
	opacity: 0;
}

#sub-text {
	opacity: 0;
}

.spacer-small {
  height: 190px;
}

footer {
  text-align: right;
  position: absolute;
  bottom: 0px;
  padding-left: 10px;
  padding-bottom: 10px;
}